Source: libelliptics-proxy
Section: net
Priority: optional
Maintainer: Anton Kortunov <toshik@yandex-team.ru>
Build-Depends: debhelper (>= 5),
 elliptics-dev (>= 2.17),
 elliptics-client (>= 2.17),
 cmake (>= 2.6)
Standards-Version: 3.9.1

Package: libelliptics-proxy
Architecture: any
Depends: ${shlibs:Depends}
Description: Smart client for Elliptics storage

