Source: libelliptics-proxy
Section: net
Priority: optional
Maintainer: Anton Kortunov <toshik@yandex-team.ru>
Build-Depends: debhelper (>= 5),
 cdbs,
 cmake (>= 2.6),
 libboost-dev,
 libboost-system-dev,
 libboost-thread-dev,
 elliptics-dev (>= 2.23), elliptics-dev (<< 2.24),
 elliptics-client (>= 2.23), elliptics-client (<< 2.24),
 libcurl4-openssl-dev,
 libcocaine-dealer-dev (>= 0.9.10004),
 libmsgpack-dev,
 uuid-dev
Standards-Version: 3.9.1

Package: libelliptics-proxy
Architecture: any
Depends: ${shlibs:Depends}
Description: Smart client for Elliptics storage

Package: libelliptics-proxy-dbg
Architecture: any
Depends: libelliptics-proxy (= ${Source-Version})
Description: Smart client for Elliptics storage (debug symbols)

Package: libelliptics-proxy-dev
Architecture: any
Depends: libelliptics-proxy (= ${Source-Version}), libboost-dev, libcocaine-dealer-dev (>= 0.9.10000), libmsgpack-dev, elliptics-dev (>= 2.23), elliptics-dev (<< 2.24)
Description: Smart client for Elliptics storage (developer files)

