Source: libmastermind
Section: net
Priority: optional
Maintainer: Anton Kortunov <toshik@yandex-team.ru>
Build-Depends: debhelper (>= 5),
 cdbs,
 cmake (>= 2.6),
 libboost-dev,
 libboost-python-dev,
 libboost-thread-dev,
 libboost-iostreams-dev,
 cocaine-framework-native (>= 0.11.1), cocaine-framework-native (<< 0.12),
 cocaine-framework-native-dev (>= 0.11.1), cocaine-framework-native-dev (<< 0.12),
 libcocaine-core2 (>= 0.11), libcocaine-core2 (<< 0.12),
 libcocaine-dev (>= 0.11), libcocaine-dev (<< 0.12),
 libmsgpack-dev,
 libboost-system-dev,
 libjsoncpp-dev,
 libkora-util-dev (= 1.1.0-rc1)
Standards-Version: 3.9.1

Package: libmastermind
Architecture: any
Depends:
 ${shlibs:Depends},
 cocaine-framework-native (>= 0.11.1), cocaine-framework-native (<< 0.12),
 libcocaine-core2 (>= 0.11), libcocaine-core2 (<< 0.12),
 libkora-util1 (= 1.1.0-rc1),
Description: Client for Mastermind service

Package: libmastermind-dev
Architecture: any
Depends: libmastermind (= ${Source-Version}), libkora-util-dev (= 1.1.0-rc1)
Description: Client for Mastermind service (developer files)

Package: python-mastermind-cache
Architecture: any
Depends: libmastermind (= ${Source-Version})
Description: Client for Mastermind service (python binding)
Replaces: mastermind-cache
Provides: mastermind-cache
Conflicts: mastermind-cache

